* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.container{
  max-width: 1000px;
}

.flex{
  display: flex;
}

.inline{
  display: inline-block;
  vertical-align: super;
}

a {
  text-decoration: none;
}
